.btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  text-shadow: 5px 5px 5px rgb(5, 5, 8);
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.btn-container {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 12rem;
}
